<div>
  <div *ngIf="brandedResults">
    <div class="ui horizontal list hscroll">
      <div *ngFor="let result of brandedResults" class="item">
        <img class="ui avatar image" src="{{result.photo.thumb}}">
        <div class="content">
          <div class="header">
            <a (click)="onClick(result.nix_item_id)">
              {{result.food_name}}
            </a>
          </div>
          {{result.brand_name}}
        </div>
      </div>
    </div>
  </div>
</div>
