<div id="nx-search">
  <input title="Search terms" type="text" [(ngModel)]="searchTerm" />
  <button (click)="searchFood()">Search</button>

  <nx-search-result
    [brandedResults]="brandedSearchResults"
  ></nx-search-result>
</div>
