<!--The content below is only a placeholder and can be replaced.-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
</script>

<div class="ui center aligned segment"
    *ngIf="targetIngredient">
  <h1 [style.color]="theColor">
    Current weight: {{weight}}g
  </h1>
  <button class="ui button primary" (click)="nextIngredient()">Next</button>
  <button class="ui button tertiary" (click)="tare()">Tare</button>
  <button class="ui button secondary" (click)="setWeight()">Set weight (dev)</button>
  <br>
  <input #targetInput (blur)="updateTargetWeight(targetInput.value)"><br>

  <nx-search></nx-search>

  <h3>Now making {{targetRecipe.name}}</h3>
  <h2>Please weigh {{targetIngredient.amount}}{{unit}} of {{targetIngredient.ingredient.name}}</h2>
</div>


<!-- This will be moved into a different component -->
<div class="ui center aligned segment">
  <!--Bread flour has the following properties (per {{targetIngredient.servingSize}}{{targetIngredient.unitOfMeasurement |-->
  <!--unit}}):-->
  <table class="ui celled table">
    <thead>
    <tr>
      <th>Ingredient</th>
      <th>Amount</th>
      <th>Calories</th>
      <th>Fat</th>
      <th>Carbs</th>
      <th>Protein</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ingredient of usedIngredients">
      <td>{{ingredient.ingredient.name}}</td>
      <td>{{ingredient.amount}}{{unit}}</td>
      <td>{{ingredient.ingredient.calories | round}}</td>
      <td>{{ingredient.ingredient.fat | round}}</td>
      <td>{{ingredient.ingredient.carbohydrates | round}}</td>
      <td>{{ingredient.ingredient.protein | round}}</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>  </td>
      <td>{{totalCalories | round}}</td>
      <td>{{totalFat | round}}</td>
      <td>{{totalCarbohydrates | round}}</td>
      <td>{{totalProtein | round}}</td>
    </tr>
    </tbody>
  </table>
</div>
