<div class="ui center aligned segment">
  <h2 class="ui center aligned header">
    <i class="cubes icon"></i>
      Recipe builder
  </h2>
  <nx-search></nx-search>
  <nx-search-result (selected)="selectResult($event);"></nx-search-result>
  <nx-item [item]="item">
  </nx-item>
</div>
